/settings-*.json # prevent accidental commit of real API keys and guids
/auth.json # prevent accidental commit of real API keys and guids
/defaults-*.json # prevent accidental commit of real API keys and guids
/defaults.json # prevent accidental commit of real API keys and guids
/settings.json # prevent accidental commit of real API keys and guids 